
<div class="row">
	<h1>Account Setting</h1>
	<div class="col-md-2">
		<section class="article_info center">
			
		</section>
	</div>
	<div class="col-lg-8 well">
		<h4>Name:&nbsp;<%= @user.name %></h4>	
		<p>Email:&nbsp;<%= @user.email %></p>
		
	</div>
</div>